# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*

# VSCode settings (optional, if using VSCode)
.vscode/

# Mac OS
.DS_Store

# PyCharm or JetBrains IDEs
.idea/

# Logs and local output
*.log
logs/
*.sqlite3

# Virtual environments
venv/
env/
.venv/
ENV/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# System-specific
Thumbs.db
ehthumbs.db
